# Set a new registry for a scoped package
registry = https://registry.npmmirror.com/
sentrycli_cdnurl = https://npmmirror.com/mirrors/sentry-cli/
engine-strict = true

# 自动安装缺少的非可选对等依赖项
auto-install-peers = true
